footer
  .footer-wrapper
    h2.title-text.small
      a(href='/impressum.html') Impressum
    p.lead-text
    |Koalition gegen antimuslimischen Rassismus 
    br 
    |Straße Hausnummer, Postleitzahl 
    br 
    |E-Mail: 
    br
    |Die Drehscheibe und Kontaktperson bei Fragen zu den Initiativen der Koalition gegen antimuslimischen Rassismus 
    br
    |bzw. wenn sich jemand einbringen möchte, rotiert zweimonatlich. Kontaktieren Sie: tba
