mixin nav-content()
	ul(title="Other languages coming soon!").language-list
		//- {% assign languages = site.nav %}
		//- {% for lang in languages %}
		//- {% if lang.language == page.language %} {% assign has_class='language--active' %} {% else %} {% assign has_class='' %} {% endif %}

		//- li
		//- 	//- a(class='header-link lang-link {{has_class}}' href='{{site.baseurl}}/{{lang.index}}') {{lang.language}} 
		//- 	a {{lang.language}} 
		//- {% endfor %}
		li 
			a de
		li 
			a en
		li 
			a ar

	.nav-seperator
		
	ul.link-list
		{% assign navigation=site.nav | where:'language', page.language %}
		//- p {{navigation['links']}}
		{% for nav in navigation %}
		{% for link in nav.links %}
		li
			{% if link.href != 'archive' %}
			a(href='#{{link.href}}' class='{{link.href}}' onclick('hideArchive()')).header-link.scroll-on-page-link 
				{% if link.href=='donate' %}
				i(class="icon-gift")#donate-icon
				{% endif %}
				{{link.title}}
			
			{% else %}
			a(href='#{{link.href}}' onclick='showArchive()').header-link
				{{link.title}}
			{% endif %}
			
		{% endfor %}
		{% endfor %} 
		
.mobile-nav
	+nav-content()
		
header
	.header-position
		a(href='#start').scroll-on-page-link.logo-link
			h1.logo.logo--invisible pin
		
		nav.site-nav
			+nav-content()
		
		.icon-box.social-media
			//- .icon.icon--fb
			//- .icon.icon--tw
			//- .icon.icon--tg
			//- 	span

		
		.mobile-nav-toggle: span
		
