section.links#links
  .links-wrap  
    .flex.flex--center
      .col-spread
        {% assign pages = site.pages | where: 'ref', 'links' %}
        
        
        {% for this_page in pages %}
        
        {% if this_page.language == page.language %}
      
        h1.title-text 
          {{this_page.title}}
        
        p.lead-text 
          {{this_page.content}} 
        
        {% endif %}
        
        {% endfor %}
    
    .flex.flex--center
      .col-full

        .cards
          
          {% assign posts = site.posts | where:'categories', 'literatur' %}
          {% assign lang_posts=posts | where:'language', page.language | sort: 'weight' %}
          {% assign read-more=site.read-more | where:'language', page.language | first %}
          {% for post in lang_posts %}
          
          .card
           
            a(target="blank" href="{{post.link}}")
              img.card-image(src='{{site.baseurl}}{{ post.image }}')
            a(target="blank" href="{{post.link}}")
              .card-content
                .card-content--header
                  .title-text.small.title--project {{ post.title }}
                  
                  .project-sub-title.lead-text {{ post.subtitle }}
                      
                .card-content--text
                  div 
                    {{ post.content }}
                  
            //-     .read-more
            //-       {{ read-more.phrase }}
              
            //-     .card-footer
            //-       {{ post.footer }}   
              
            //- .project-item-full.card-long()
            //-   .project-content-wrapper
            //-     .title-text.small.title--project {{post.title}}
                
            //-     .project-sub-title.lead-text {{ post.subtitle }}
                  
            //-     .project-content {{post.content}}
                
              
          {% endfor %}
               
  //-         
  //- a(href='#{{ post.newsID }}').news-item-box.modal
  //- 
  //-   +news-item("{{post.title}}", "{{ post.date | date: date-style.format }}", "{{post.excerpt}}", "{{read-more.phrase}}")
  //-    
  //- .news-item-full.modal-inner(id='{{post.newsID}}')
  //-   
  //-   .modal-content-wrapper
  //-     h1 {{post.title}}
  //-     p.modal-intro {{ post.date | date: date-style.format }}
  //-       
  //-     .modal-content {{post.content}}
  //-     
  //-     
  //-     a(href='#')
  //-       .close-modal close
