section.network#network
  
  {% assign pages = site.pages | where: 'ref', 'network' %}
  
  
  {% for this_page in pages %}
  
  {% if this_page.language == page.language %}


  div
    {{this_page.content}} 
  
  {% endif %}
  
  {% endfor %}
