section.participate#participate
  
  
  {% assign pages = site.pages | where: 'ref', 'participate' %}
  
  
  {% for this_page in pages %}
  
  {% if this_page.language == page.language %}


  div
    {{this_page.content}} 
  
  {% endif %}
  
  {% endfor %}
 
  
  //- .flex.flex--center
  //- 
  //-   
