section.partners#partners
  
  
  {% assign pages = site.pages | where: 'ref', 'partners' %}
  
  
  {% for this_page in pages %}
  
  {% if this_page.language == page.language %}

  

  div
    {{this_page.content}} 
    //- {% assign partners=site.data.partners.partnerlist | where: 'language', page.language %}
    //- {% for list in partners %}
    //- {% for partner in list.list %}
    //- p {{partner.name}}
    //- {% endfor %}
    //- {% endfor %}
  {% endif %}
  
  {% endfor %}
 
  
  //- .flex.flex--center
  //- 
  //-   
