.cards
  display: grid
  grid-gap: 10px
  grid-template-columns: 1fr 1fr
  
  .card
    // border: 1px solid black
    padding: 1rem
    display: flex
    // height: 100%
    // background: rgba(white, .2)
    
    &:hover
      background: rgba(white, .3)
    &-image
      width: 140px
      height: auto
      background:
        position: center
        size: cover

    &-content
      color: #333
      margin-left: 1rem
      
      .title-text
        margin-top: 0
        text-align: left !important
      &--text
        line-height: 1.4
  @media(max-width: 420px)
    .card
      display: block
      width: 100%
      text-align: center
      &-image
        width: 80%
        margin: 1rem auto
      &-content
        margin-left: 0
        .title-text
          text-align: center !important