
<div class="mobile-nav">
  <ul title="Other languages coming soon!" class="language-list">
    <li> <a>de</a></li>
    <li> <a>en</a></li>
    <li> <a>ar</a></li>
  </ul>
  <div class="nav-seperator"></div>
  <ul class="link-list">{% assign navigation=site.nav | where:'language', page.language %}{% for nav in navigation %}
    {% for link in nav.links %}
    <li>{% if link.href != 'archive' %}<a href="#{{link.href}}" onclick('hideArchive()')="onclick('hideArchive()')" class="{{link.href}} header-link scroll-on-page-link">
         
        {% if link.href=='donate' %}<i id="donate-icon" class="icon-gift"></i>{% endif %}
        {{link.title}}</a>{% else %}<a href="#{{link.href}}" onclick="showArchive()" class="header-link">{{link.title}}</a>{% endif %}</li>{% endfor %}
    {% endfor %} 
  </ul>
</div>
<header>
  <div class="header-position"><a href="#start" class="scroll-on-page-link logo-link">
      <h1 class="logo logo--invisible">pin</h1></a>
    <nav class="site-nav">
      <ul title="Other languages coming soon!" class="language-list">
        <li> <a>de</a></li>
        <li> <a>en</a></li>
        <li> <a>ar</a></li>
      </ul>
      <div class="nav-seperator"></div>
      <ul class="link-list">{% assign navigation=site.nav | where:'language', page.language %}{% for nav in navigation %}
        {% for link in nav.links %}
        <li>{% if link.href != 'archive' %}<a href="#{{link.href}}" onclick('hideArchive()')="onclick('hideArchive()')" class="{{link.href}} header-link scroll-on-page-link">
             
            {% if link.href=='donate' %}<i id="donate-icon" class="icon-gift"></i>{% endif %}
            {{link.title}}</a>{% else %}<a href="#{{link.href}}" onclick="showArchive()" class="header-link">{{link.title}}</a>{% endif %}</li>{% endfor %}
        {% endfor %} 
      </ul>
    </nav>
    <div class="icon-box social-media">
    </div>
    <div class="mobile-nav-toggle"><span></span></div>
  </div>
</header>