<section id="links" class="links"><div class="links-wrap"> <div class="flex flex--center"><div class="col-spread">{% assign pages = site.pages | where: 'ref', 'links' %}
{% for this_page in pages %}
{% if this_page.language == page.language %}<h1 class="title-text"> 
{{this_page.title}}</h1><p class="lead-text"> 
{{this_page.content}} </p>{% endif %}
{% endfor %}</div></div><div class="flex flex--center"><div class="col-full"><div class="cards">{% assign posts = site.posts | where:'categories', 'literatur' %}
{% assign lang_posts=posts | where:'language', page.language | sort: 'weight' %}
{% assign read-more=site.read-more | where:'language', page.language | first %}
{% for post in lang_posts %}<div class="card"><a target="blank" href="{{post.link}}"><img src="{{site.baseurl}}{{ post.image }}" class="card-image"/></a><a target="blank" href="{{post.link}}"><div class="card-content"><div class="card-content--header"><div class="title-text small title--project">{{ post.title }}</div><div class="project-sub-title lead-text">{{ post.subtitle }}</div></div><div class="card-content--text"><div> 
{{ post.content }}</div></div></div></a>
</div>{% endfor %}</div></div></div></div></section>